.bg-navbar{ 
    background: #2c6976 !important;
}

.container-navbar{
    display: flex;
    justify-content: space-between;
    height: 5vh !important;
}

.title{
    font-weight: bold!important;
}
.cursor{
    cursor: pointer;
    color: rgb(255, 255, 255);
}
