.bg-menu{
    background: "linear-gradient(114deg, rgba(164,28,96,1) 0%, rgba(134,47,101,1) 41%)";
}

.container{
    display: flex;
    justify-content: space-between;
}

.title{
    font-weight: bold!important;
}