.bg-navbar{ 
    background: rgb(255, 240, 249) !important;
}

.container-navbar{
    display: flex;
    justify-content: space-between;
    height: 5vh !important;
}

.title{
    font-weight: bold!important;
}
.cursor{
    cursor: pointer;
    color: rgb(158, 11, 102);
}
