.topo{
    margin-top: 20px;
  
}

.text-form-cadastro{
    color: #2c6976 !important;
}

.text-form-cadastro-f{
    background-color: rgb(212, 244, 221, 0.3);
      
}
 .btn-cadastro-post{
    background-color: #2c6976 !important;
 }