.container{
    background: #2c6976 !important;
    height: 10vh;
}
.footer{
    
    background:#2c6976 !important;
    height: 1vh;
}


.redes{
    font-size: 40px !important;
    color:rgb(255, 255, 255);
}
.texto{
    color:#2c6976;
    background-color: rgb(255, 240, 249);
}

