.container{
    background: rgb(23,190,187);
background: linear-gradient(114deg, rgba(23,190,187,1) 0%, rgba(212,244,221,1) 81%);
}
.footer{
    background: rgb(23,190,187);
        background: linear-gradient(114deg, rgba(23,190,187,1) 0%, rgba(212,244,221,1) 81%);
 
}
