.container{
    background: rgb(255, 240, 249) !important;
    height: 10vh;
}
.footer{
    
    background:rgb(255, 240, 249) !important;
    height: 1vh;
}


.redes{
    font-size: 40px !important;
    color:rgb(5, 5, 5);
}
.texto{
    color:rgb(158, 11, 102);
    background-color: rgb(255, 240, 249);
}

